<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staylio</title>
</head>
<body>
    <h3>Edit Listing Info</h3>
    <form method="POST" action="/listings">
        <input type="text">
    </form>
</body>
</html>