<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staylio</title>
</head>
<body>
    <h3>New Listing</h3>
    <form method="POST" action="/listings">
        <br><br>
        <input type="text" name="listing[title]" placeholder="Enter Name">
        <br><br>
        <textarea name="listing[description]" id="description" placeholder="Enter Description"></textarea>
        <br><br>
        <input type="text" name="listing[image][url]" placeholder="Enter img url">
        <br><br>
        <input type="number" name="listing[price]" placeholder="Enter Price">
        <br><br>
        <input type="text" name="listing[location]" placeholder="Enter Location">
        <br><br>
        <input type="text" name="listing[country]" placeholder="Enter Country">
        <br><br>
        <button type="submit">Create Listing</button>
    </form>
</body>
</html>