body {
    background-color: pink;
}


.plus-jakarta-sans-regular {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.row, .index-heading {
    padding: 1rem;
}

/* navbar */
.navbar {
    background-color: white;
    height: 5rem;
}

/* navbar */
fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

/* navbar */nav.link {
    color: #222222 !important; 
}

/* footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
    vertical-align: middle;
}   

/* footer */
.f-info-links a:hover {
    text-decoration: underline;
}

/* footer */
.f-info-links, .f-info-social, .f-info-brand {
    width: 100%;
    align-items: center;
    justify-content: center;
} 

/* footer */
.f-info-social {
    font-size: 1.2rem;
}

/* footer */
.f-info {
    text-align: center;
    height: 8rem;
    display: flex;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards */
.card {
    border : none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding:0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-links {
    text-decoration: none;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

